html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

:root {
	/* Pon las variables aquí */
	--black: #100121;
	--dark-gray: #777;
	--light-gray: rgb(240, 241, 242);
	--almost-white: rgb(253, 254, 255);
}

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.75;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-title,
.title {
	font-family: 'Oswald', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	padding: 2rem;
}

.grid {
	display: grid;
}

/* Header */

header.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	margin: 0 0.5rem;
}

.main {
	background-color: var(--light-gray);
}

.main .grid {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
}

.article {
	padding: 1.5rem 2rem;
	background-color: var(--almost-white);
	border: 2px solid var(--light-gray);
	box-shadow: 2px 3px 3px var(--light-gray);
}

.article header {
	margin-bottom: 1rem;
}

.article header h2 {
	text-align: center;
	margin-bottom: 1rem;
}

.article footer {
	margin-top: 1rem;
	text-align: right;
}

.article section p {
	margin-bottom: 1rem;
}

.article footer {
	color: var(--dark-gray);
}

.article footer a:hover {
	color: var(--black);
}

footer.footer {
	text-align: center;
}
