html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	font-size: inherit;
}

.page {
	padding: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	line-height: 1.5rem;
	color: rgb(251, 251, 251);
}

article {
	padding: 1.5rem 2rem;
	color: rgb(250, 250, 250);
	min-height: 30rem;
}

.info {
	background-color: #63d5c3;
}

.info p {
	font-size: 1.4rem;
}

.info h1 {
	font-size: 2.1rem;
	margin: 3rem 0;
}

.forms {
	background-color: #3b3e52;
}

fieldset {
	border: none;
	margin: 2rem 0;
}

form label {
	color: rgb(252, 252, 252);
}

form input {
	width: 100%;
	font-size: 0.8rem;
	padding: 0.3rem 0 0.5rem;
	color: rgb(230, 230, 230);
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgb(200, 200, 201);
}

form input[type="submit"]{
	width: 8rem;
	background-color: #63d5c3;
	color: rgb(250, 250, 250);
	border-radius: 0.3rem;
	border: none;
	font-size: 1rem;
}

form a {
	color: rgb(250, 250, 250);
	margin-left: 1rem;
}
