.american-rose { color: #ff033e; }
.almond { color: #efdecd; }
.auburn { color: #a52a2a; }
.awesome { color: #ff2052; }
.azure { color: #007fff; }
.banana-yellow { color: #ffe135; }
.blue-purple { color: #8a2be2; }
