p {
	line-height: 1.6;
}
.container-max {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.container-min {
	width: 60%;
	display: block;
	margin: 0 auto;
}

.top {
	padding: 1em 0;
	background-color: #F1F1EF;
}

.top-menu, .nav, .newsletter {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.top-menu a {
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 0.85em;
	letter-spacing: 0.1em;
}

.top-menu a:hover {
	text-decoration: underline;
}

.header {
}

.header h1 {
	text-align: center;
	font-size: 2em;
	margin: 0;
	padding-top: 2em;
}
.header h3 {
	text-align: center;
	font-size: 0.95em;
	padding-bottom: 2em;
}

.nav-container{
	border-top: 6px double black;
	border-bottom: 3px solid black;
	padding: 1em 0;
}

.nav a {
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	font-size: 0.85em;
	letter-spacing: 0.1em;
}

.nav a {
	text-decoration: underline;
}

.hero-container {
	/*Photo by Sweet Ice Cream Photography on Unsplash*/
	background: url('../img/sweet-ice-cream-photography-88754.jpg');
	background-size: cover;
	padding: 14em 0;
}

.hero {
	background-color: white;
	padding: 2em;
	width: 360px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.post {
	width: 33%;
	display: inline-block;
}

.newsletter-container {
	width: 90%;
	margin: 1.5em auto;
	padding: 3em 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.newsletter span {
	font-size: 1.2em;
	padding-top: 0.5em;
	font-weight: bold;
}
.newsletter input {
	width: 150px;
	font-size: 1.1em;
	padding: 0.5em;
	border: 1px solid black;
	color: black;
	font-weight: light;
}
.newsletter input[type="submit"] {
	background: white;
	font-weight: bold;
}
.about-us {
	padding: 2em 0;
}
.about-us h2 {
	text-align: center;
}
.about-us a {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: black;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
}
.footer {
	background-color: #F1F1EF;
	padding: 3em 0;
}
.copyright {
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-align: center;
}
